.entry-content > h2, h3, h4, h5, h6, p {
  /*text-align: center;*/
  margin-left: 5%;
  margin-right: auto;
}

.site-logo {
  /*border-top: -50px;*/
  /*border-radius: 8px;*/
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.entry-title, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: light;
}

/*.body {*/
  /*font-family: 'Raleway', sans-serif;*/
/*}*/
